.place {
    display: grid;
    grid-template-columns:  460px 1fr;
    grid-template-rows: auto;
    column-gap: 28px;
    row-gap: 48px;

    /* margin-bottom: 80px; */
}

/* .place:nth-last-child(1) {
    margin-bottom: 92px;
} */