.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 92px 24px 24px;
  }
}

@media screen and (max-width: 725px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    padding-top: 64px;
  }
}

