.intro__content {
  margin-left: 148px;
}

@media screen and (max-width:1124px) {
  .intro__content {
    margin-left: 48px;
  }
}

@media screen and (max-width:984px) {
  .intro__content {
    margin: 0 auto;
    padding: 0 24px;
  }
}